bluepy==1.3.0
click==8.0.3
click-datetime==0.2
cometblue-lite==0.3.2
construct==2.10.67
importlib-metadata==4.8.1
paho-mqtt==1.5.1
python-eq3bt==0.1.11
PyYAML==6.0
typing-extensions==3.10.0.2
zipp==3.6.0
